{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Сервис по поиску партнеров для выполнения междисциплинарных научных проектов</title>
	<link rel="stylesheet" type="text/css" href="{% static 'mainWindow/website.css' %}">
	<style>
		body {
			background: #000000;
			/*  background-image: url("images/bg.jpg");*/
			/*background-size: 100%; /* было 1920рх 848рх*/
			background-repeat: no-repeat;
		}
	</style>
	<style>
		a {
			position: relative;
			text-decoration-line: none;
		}
	</style>

</head>

<body>
	<img src="{% static 'mainWindow/images/bg.jpg' %}" style="position:absolute; width:99%">

	<div id="container">

		<style>
			.hello-msg {
				font-size: 18px;
				color: #fff;
				margin-right: 20px;
			}
		</style>

		<div id="header">
			<h2 class="logo">LOGO</h2>

			<div class="b"><a href="/projects/" style="color: #FFFFFF;">Проекты</a> <a href="cpecialist"
					style="color: #FFFFFF;">Специалисты</a> <a href="meropriatia"
					style="color: #FFFFFF;">Мероприятия</a> <a href="forym" style="color: #FFFFFF;">Форум</a></div>
			{% if user.is_authenticated %}
			<div class="bbb"></div>
			<div class="bb"><a href="startproekt" style="color: #AD27FF;">Создать проект</a></div>
			<span class="hello-msg">Hello, {{request.user}}</span>
			<a class="hello-msg" href="logout">Logout</a>
			{% else %}
			<div class="bbbbb"></div>
			<div class="bbbb"><a onclick="show('block')" href="#form" style="color: #FFFFFF;">Войти</a></div>
			{% endif %}
		</div>


		<div onclick="show('none')" id="gray"
			style="background-color: rgba(1,1,1,0.75);position: fixed; left: 0;right: 0; top: 0; bottom: 0; display: none; z-index: 999">
		</div>
		<!--затемнение при регистрации-->

		<div class="comein">
			<form method="post" id="form" style="display: none;">
				<!--style="display: none;"-->
				{% csrf_token %}
				<p
					style="position: absolute; top: 52px;margin-left: 530px;width: 460px;height: 634px;background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;border: 1px solid var(--unnamed-color-707070);background: #FFFFFF 0% 0% no-repeat padding-box;border: 1px solid #707070;opacity: 1;">
				</p>
				<p
					style="position: relative; top: 64px; margin-left: 562px; width: 396px; height: 34px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-28)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-roboto); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal normal 28px/34px Roboto; letter-spacing: 0px; color: #000000; opacity: 1;">
					Вход</p>
				<p
					style="position: relative; top: 64px; margin-left: 562px; width: 396px; height: 19px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 16px/24px Roboto; letter-spacing: 0px; color: #2B2B2B; opacity: 1;">
					Электронная почта или телефон</p>
				<input type="text" name="email" class="input"
					style="position: relative; top: 64px; margin-left: 562px; width: 396px; height: 54px; background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box; background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #AFAFAF;opacity: 1;">
				<br>
				<p
					style="position: relative; top:64px; margin-left: 562px; width: 396px; height: 19px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 16px/24px Roboto; letter-spacing: 0px; color: #2B2B2B; opacity: 1;">
					Пароль</p>
				<input type="password" placeholder="Минимум 8 символов" name="password" class="input"
					style="position: relative; top: 64px; margin-left: 562px; width: 396px; height: 54px; background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box; background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #AFAFAF; opacity: 1;">
				<br>
				<p
					style="position: relative; top: 64px; margin-left: 562px; width: 400px; height: 51px; background: #3E14D9 0% 0% no-repeat padding-box; border: 1px solid #AFAFAF; opacity: 1;">
				</p>
				<p
					style="position: relative; top: 14px; margin-left: 575px; width: 364px; height: 19px; font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto); letter-spacing: var(--unnamed-character-spacing-0); color: var(--unnamed-color-ffffff); text-align: center; font: normal normal medium 16px/24px Roboto; letter-spacing: 0px; opacity: 1;">
					<input type="submit" value="Войти">
				</p>
				<p
					style="position: relative; top: 54px; margin-left: 741px; width: 28px; height: 19px; font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto); letter-spacing: var(--unnamed-character-spacing-0); text-align: center; font: normal normal medium 16px/24px Roboto; letter-spacing: 0px; color: #000000; opacity: 1;">
					или</p>
				<p style="position: relative; top: 64px;margin-left: 655px;  opacity: 1;"><a href="https://vk.com/"><img
							src="{% static 'mainWindow/images/vk.svg' %}" alt="vk" style="margin-right: 15px;"></a><img
						src="{% static 'mainWindow/images/mail_ru.svg' %}" alt="m" style="margin-right: 15px;"><img
						src="{% static 'mainWindow/images/facebook.svg' %}" alt="f" style="margin-right: 15px;"><img
						src="{% static 'mainWindow/images/linkedin.svg' %}" alt="l"><img
						src="{% static 'mainWindow/images/google.svg' %}" alt="G" style="margin-left: 15px;"></p>

				{% for message in messages %}
				<p style="position: relative; top: 54px; margin-left: 741px; width: 28px; height: 19px; font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto); letter-spacing: var(--unnamed-character-spacing-0); text-align: center; font: normal normal medium 16px/24px Roboto; letter-spacing: 0px; color: #000000; opacity: 1;"
					id="messages">{{message}}</p>
				{% endfor %}
				<p
					style="position: absolute; top: 641px;margin-left: 674px;width: 45px;height: 19px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);letter-spacing: var(--unnamed-character-spacing-0);text-align: left;font: normal normal normal 16px/20px Roboto;letter-spacing: 0px;color: #3E14D9;opacity: 1;">
					<a href="register">Зарегистрироваться</a>
				</p>
			</form>
		</div>


		<div id="content">
			<h2 class="Haudi">Найди проект сейчас</h2>
			<h2 class="KWORD">Ключевое слово</h2>
			<h2 class="KATEGORIA">Категория</h2>
			<p class="white1"><input type="text" size="56" placeholder="Например, Роботы"
					style="height: 48px; padding-left: 10px;"></p><select size="1" class="white2">
				<option value="Все">Все</option>
				<option value="Математика">Математика</option>
				<option value="Механика">Механика</option>
				<option value="Информатика">Информатика</option>
				<option value="Физика">Физика</option>
				<option value="Самолетостроение">Самолетостроение</option>
			</select>
			<p class="white3"></p>
			<p class="Hayti">Найти</p>
			<!--тут выпадающий список надо) -->
		</div>

		<div id="KG">
			<h2 class="konkyrsGrant">Конкурсы и гранты</h2>
			<p class="posmot">Посмотреть все</p>
			<p class="strelka2"></p>
		</div>

		<div id="proekts">
			<h2 class="proekts" id="proekt">Проекты</h2>
			<p class="posmot2">Посмотреть все</p>
			<p class="strelka3"></p>
		</div>

		<div id="footer">
			<div class="linia"></div>
			<div class="PCMF"><a href="proekt.html" style="color: #FFFFFF;">Проекты</a> <a href="cpecialist"
					style="color: #FFFFFF;">Специалисты</a> <a href="meropriatia"
					style="color: #FFFFFF;">Мероприятия</a> <a href="forym" style="color: #FFFFFF;">Форум</a></div>
		</div>


	</div>


	<script>
		//Функция показа
		function show(state) {
			document.getElementById('form').style.display = state;
			document.getElementById('gray').style.display = state;
		}
	</script>

	{% if messages %}
	<script>
		show('block');
	</script>
	{% endif %}
</body>

</html>