{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Сервис по поиску партнеров для выполнения междисциплинарных научных проектов</title>
<link rel="stylesheet" type="text/css" href="{% static 'mainWindow/website.css' %}">
	<style>
		body {
			background: #000000;
			background-size: 100%; /* было 1920рх 848рх*/
		}
    </style>
    <style>
		a {
			position: relative;
			text-decoration-line: none;
		}
	</style>
</head>



<body>

<div id="container"> 

<div id="header"> 
<h2 class="logo">LOGO</h2><div class="b"><a href="proekt.html" style="color: #FFFFFF;">Проекты</a> <a href="cpecialist" style="color: #FFFFFF;">Специалисты</a> <a href="meropriatia" style="color: #FFFFFF;">Мероприятия</a> <a href="forym" style="color: #FFFFFF;">Форум</a></div> 
			<div class="bbb"></div> 
			<div class="bb"><a href="startproekt" style="color: #AD27FF;">Создать проект</a></div> 
			<div></div>
</div>

<div id="ld">
	<h1 class="KD">контактные данные</h1>

<p class="Y">Учреждение</p>
<p class="whitt"></p>
<p class="newmess">Написать сообщение</p>
<p class="whitt2"></p>
<p class="Dob">Добавить в избранное</p>

</div>

<div id="coder">
	<p class="P">Работ в портфолио</p>
	<p class="O">Отзывы</p>
	<p class="C">Статус</p>
<p class="Z">Зарегистрирован</p>
<p class="B">Был на сайте</p>
<p class="Sp">Специализации</p>
<p class="Rab">Работы</p>
<p class="About">Обо мне</p>
</div>

<div id="ot">
	<h1 class="OT">Отзывы</h1>
	<p class="posm">Все отзывы</p>
	<p class="Strelka"></p>
</div>

<div id="foote">
	<div class="linia"></div>
			<div class="PCMF"><a href="proekt.html" style="color: #FFFFFF;">Проекты</a> <a href="cpecialist" style="color: #FFFFFF;">Специалисты</a> <a href="meropriatia" style="color: #FFFFFF;">Мероприятия</a> <a href="forym" style="color: #FFFFFF;">Форум</a></div> 
		</div>
</div>


</body>


</html>