{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Сервис по поиску партнеров для выполнения междисциплинарных научных проектов</title>
<style>
	body {
		background: #000000;
	}
	a {
			position: relative;
			text-decoration-line: none;
		}
</style>
	<link rel="stylesheet" type="text/css" href="{% static 'mainWindow/website.css' %}">
</head>


<body>
<div>
<div id="header">
			<h2 class="logo">LOGO</h2><div class="b"><a href="proekt.html" style="color: #FFFFFF;">Проекты</a> <a href="cpecialist" style="color: #FFFFFF;">Специалисты</a> <a href="meropriatia" style="color: #FFFFFF;">Мероприятия</a> <a href="forym" style="color: #FFFFFF;">Форум</a></div> 
			<div class="bbb"></div> 
			<div class="bb"><a href="startproekt" style="color: #AD27FF;">Создать проект</a></div> 
			
			
		</div> 


<div id="footer" style="position: absolute; top: 1995px;">
			<div class="linia"></div>
			<div class="PCMF"><a href="proekt.html" style="color: #FFFFFF;">Проекты</a> <a href="cpecialist" style="color: #FFFFFF;">Специалисты</a> <a href="meropriatia" style="color: #FFFFFF;">Мероприятия</a> <a href="forym" style="color: #FFFFFF;">Форум</a></div> 
		</div>
</div>
</body>


</html>