body {
     background: #000000;
     color: #000000;
     font-family: Arsenal, sans-serif;
     font-size: 14px;
}
/*::-webkit-scrollbar { width: 0;} /* убираем скроллинг*/
#container {
     width: 100%;
     height: 100%;
}

#header {
     position: absolute; /* тут */
     z-index: 2;
     width: 99%;
    /* height: 80px;*/
}
.logo {
     position: absolute; 
     top: 0px; /*?*/
     left: 100px; 
     width: 97px; 
     height: 46px; 
     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 38px/46px var(--unnamed-font-family-roboto); 
     letter-spacing: var(--unnamed-character-spacing-0); 
     color: var(--unnamed-color-ffffff); 
     text-align: left; 
     font: normal normal normal 38px/46px Roboto; 
     letter-spacing: 0px; 
     color: #FFFFFF; 
     opacity: 1;
}

.b {
     position: absolute;
     top: 31px;
left: 566px;
width: 522px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 16px/19px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
word-spacing: 50px;
}

.bbb {
     position: absolute;
top: 15px;
left: 1080px;
width: 178px;
height: 51px;
border: 1px solid var(--unnamed-color-ad27ff);
border: 1px solid #AD27FF;
opacity: 1;
}
.bb {
     position: absolute;
    color: #AD27FF; 
    top: 31px;
left: 1118px;
width: 118px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ad27ff);
text-align: left;
font: normal normal normal 16px/19px Roboto;
letter-spacing: 0px;
opacity: 1;
}


.bbbbb {
     position: absolute;
     top: 15px;
left: 1314px;
width: 105px;
height: 51px;
border: 1px solid var(--unnamed-color-ffffff);
background: transparent url('images/Прямоугольник 2.svg') 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF;
opacity: 1;
}
.bbbb {
     position: absolute;
top: 31px;
left: 1346px;
width: 45px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 16px/19px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

div.comein {
     width:88.25%;
     position:absolute;
     z-index:99999;
}

#content {
     /* background: #DCDCDC; */
     position: relative;
     top: 80px; /* тут */ 
     float: right;
     width: 100%;
     height: 768px;
} 
.Haudi {
     position: absolute; 
     top: 190px;
     left: 100px;
     width: 590px;
     height: 77px;
     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-64)/var(--unnamed-line-spacing-62) var(--unnamed-font-family-arsenal);
     letter-spacing: var(--unnamed-character-spacing-0);
     text-align: left;
     font: normal normal normal 64px/62px Arsenal;
     letter-spacing: 0px;
     color: #F7F6FB;
     opacity: 1;
}
.KWORD {
     position: absolute;
     top: 334px;
left: 100px;
width: 126px;
height: 19px;
font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-16)/var(--unnamed-line-spacing-62) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal medium 16px/62px Roboto;
letter-spacing: 0px;
color: #818181;
opacity: 1;
} 
.white1 {
     position: absolute;
     top: 374px;
left: 100px;
width: 400px;
height: 51px;
opacity: 1
}

.KATEGORIA {
     position: absolute;
     top: 334px;
left: 530px;
width: 78px;
height: 19px;
font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-16)/var(--unnamed-line-spacing-62) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal medium 16px/62px Roboto;
letter-spacing: 0px;
color: #818181;
opacity: 1;
}
.white2 {
     position: absolute;
     top: 388px;
left: 530px;
width: 260px;
height: 51px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-707070);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
      
.Hayti {
     position: absolute;
     top: 390px;
left: 836px;
width: 46px;
height: 19px;
font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-16)/var(--unnamed-line-spacing-62) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal medium 16px/62px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.white3 {
     position: absolute;
     top: 374px;
left: 806px;
width: 106px;
height: 51px;
background: var(--unnamed-color-5729ff) 0% 0% no-repeat padding-box;
background: #5729FF 0% 0% no-repeat padding-box;
opacity: 1;
}

#KG {
     /* background: #00BFFF; */
     height: 1593px;
}
.konkyrsGrant {
     position: relative;  
     top: 150px; 
     left: 100px; 
     width: 402px; 
     height: 43px; 
     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-roboto); letter-spacing: var(--unnamed-character-spacing-0-72); 
     text-align: left; 
     font: normal normal normal 36px/54px Roboto; 
     letter-spacing: 0.72px; 
     color: #F7F6FB; 
     text-transform: uppercase; 
     opacity: 1
}
.posmot {
     position: relative;
     top: 166px;
left: 1238px;
width: 138px;
height: 22px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ad27ff);
text-align: left;
font: normal normal bold 18px/18px Roboto;
letter-spacing: 0px;
color: #AD27FF;
opacity: 1;
}
.strelka2 {
     position: relative;
     top: 795px;
left: 1396px;
width: 45px;
height: 16px;
background-image: url(images/strelka2.svg);
/* background: var(--unnamed-color-ad27ff) 0% 0% no-repeat padding-box;
background: #AD27FF 0% 0% no-repeat padding-box; */
opacity: 1;
}

#proekts {
     width: 100%;
     height: 791px; 
}
.proekts {
     position: relative;
     top: 150px;
     left: 100px;
     width: 174px;
     height: 43px;
     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-roboto);
     letter-spacing: var(--unnamed-character-spacing-0-72);
     text-align: left;
     font: normal normal normal 36px/54px Roboto;
     letter-spacing: 0.72px;
     color: #F7F6FB;
     text-transform: uppercase;
     opacity: 1;
}
.posmot2 {
     position: relative;
     top: 93px;
left: 1238px;
width: 138px;
height: 22px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ad27ff);
text-align: left;
font: normal normal bold 18px/18px Roboto;
letter-spacing: 0px;
color: #AD27FF;
opacity: 1;
}
.strelka3 {
     position: relative;
     top: 56px;
left: 1396px;
width: 45px;
height: 16px;
background-image: url(images/strelka2.svg);
/* background: var(--unnamed-color-ad27ff) 0% 0% no-repeat padding-box;
background: #AD27FF 0% 0% no-repeat padding-box; */
opacity: 1;
}

#ld {                         /*цвет*/
     position: absolute;
     top: 150px;
     height: 762px;
     width: 400px;
  /*   background-color: green;*/
}
.KD {
     position: absolute ; 
     top: 28%;
left: 15%;
width: 304px;
height: 17px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/17px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal bold 14px/17px Roboto;
letter-spacing: 0px;
color: #AFAFAF;
text-transform: uppercase;
opacity: 1;
}
.Y {
     position: absolute;
     top: 50%;
left: 15%;
width: 304px;
height: 17px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/17px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal bold 14px/17px Roboto;
letter-spacing: 0px;
color: #AFAFAF;
text-transform: uppercase;
opacity: 1;
}
.whitt {
     position: absolute;
     top: 60%;
left: 25%;
width: 226px;
height: 52px;
background: var(--unnamed-color-8b1fcc) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-707070);
background: #8B1FCC 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.newmess {
     position: absolute; 
     top: 61%;
left: 34%;
width: 160px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/26px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal normal 16px/26px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.whitt2 {
   position: absolute;
     top: 70%;
left: 25%;
width: 226px;
height: 52px;
border: 1px solid var(--unnamed-color-ad27ff);
border: 1px solid #AD27FF;
opacity: 1;
}  
.Dob {
     position: absolute; 
     top: 73%;
left: 34%;
width: 160px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/1px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ad27ff);
text-align: center;
font: normal normal normal 16px/1px Roboto;
letter-spacing: 0px;
color: #AD27FF;
opacity: 1;
}

#coder {                      /*цвет*/
 position: absolute;
     top: 150px;
     left: 400px;
     height: 762px;
     width: 73%;
   /*  background-color: gray;*/
}
.P {
     position: absolute;
     top: 5%;
left: 5%;
width: 131px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.O {
position: absolute;
     top: 5%;
left: 25%;
width: 131px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.C {
     position: absolute;
     top: 5%;
left: 37%;
width: 131px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.Z {
     position: absolute;
     top: 10%;
left: 5%;
width: 131px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.B {
position: absolute;
     top: 10%;
left: 27%;
width: 131px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.Sp {
     position: absolute;
     top: 25%;
left: 5%;
width: 149px;
height: 24px;
font: var(--unnamed-font-style-normal) normal medium 20px/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal medium 20px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.Rab {
position: absolute;
     top: 25%;
left: 60%;
width: 149px;
height: 24px;
font: var(--unnamed-font-style-normal) normal medium 20px/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal medium 20px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.About {
     position: absolute;
     top: 50%;
left: 5%;
width: 149px;
height: 24px;
font: var(--unnamed-font-style-normal) normal medium 20px/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal medium 20px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}


#ot {
     position: absolute;
     top: 915px;
     left: 400px;
     height: 400px;
     width: 73%;
  /*   background-color: red; /*цвет*/
}
.OT {
     position: absolute;
     top: 5%;
left: 5%;
width: 77px;
height: 24px;
font: var(--unnamed-font-style-normal) normal medium 20px/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal medium 20px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.posm {
     position: absolute;
          top: 2.5%;
left: 80%;
width: 138px;
height: 22px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ad27ff);
text-align: left;
font: normal normal bold 18px/18px Roboto;
letter-spacing: 0px;
color: #AD27FF;
opacity: 1;
}
.Strelka {
position: absolute;
     top: 4%;
left: 90%;
width: 45px;
height: 16px;
background-image: url(images/strelka2.svg);
/* background: var(--unnamed-color-ad27ff) 0% 0% no-repeat padding-box;
background: #AD27FF 0% 0% no-repeat padding-box; */
opacity: 1;
}


#foote {
       position: absolute;
     top: 1317px;
     height: 276px;
    width: 98.5%;
   /* background-color: blue;*/
}








#footer {
     width: 99%;
     height: 400px;
}
.linia {
     top: 1%;
left: 0px;
width: 100%;
height: 0.5%;
opacity: 1;
background: #8B1FCC;
}
.PCMF {
position: relative;
     top: 30%;
margin-left: 300px;
word-spacing: 150px;

width: 850px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 16px/19px Roboto;
letter-spacing: 0px;
color: #F7F6FB;
opacity: 1;
}